<div id="intro">
    <div class="intro-content" fxLayout="column" fxLayoutAlign="start center">
        <div fxFlex="50" fxHide.xs></div>
        <div fxFlex fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutGap="32px">
            <h1 data-aos="fade-up" data-aos-delay="750" data-aos-duration="1000">Hello, Bennu!</h1>
            <p data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">Welcome to the Hello, Bennu! Manifesto.</p>
        </div>
    </div>
</div>