<div id="survival">
    <div class="survival-content" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="64px">
            <div class="part-1" fxLayout="column" fxLayoutGap="64px">
                <div class="large-section" fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutGap="16px">
                        <h1>How will Earth survive Bennu?</h1>
                        <p>
                            The answer is through knowledge. Studying Bennu could not only teach how to protect our home, but potentially also reveal secrets about the history of the universe and how we can make Earth a better place.
                        </p>
                        <p>
                            Learning about our past is incredibly important, however, what we are excited to learn from Bennu is how we can expand our species further into space. If we can learn to mine and extract resources like hydrogen and oxygen from water on asteroids like Bennu, we could create rocket fuel and turn asteroids into fuel stations for future missions to other planets and into deep space.  
                        </p>
                    </div>
                    <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill>
                        <div fxFlex="50">
                            <img class="bennu" src="./assets/images/Bennu.svg" alt="Bennu">
                            <img class="asteroids" src="./assets/images/SmallAsteroidField.svg" alt="Asteroids">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    