<div id="about-bennu-jets">
        <div class="about-bennu-jets-content" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="90" class="small-section" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="32px">
                <div>
                    <h1>About Bennu and the Jets</h1>
            
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <img data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" src="./assets/images/bennu-and-the-jets.JPG" alt="Bennu and the Jets">
                        </div>
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
                            <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                                <h2>Emily Curtis</h2>
                                <p>
                                    Computer scientist, UX/UI unicorn, graphic designer, photographer, and local business lover. Emily is a founder Umber Design and accumulated over 7 years of hands-on experience. She's looking to help businesses refine and grow their brand.
                                </p>
                            </div>
                            <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                                <h2>Trent Herbert</h2>
                                <p>
                                    Graphic designer, music producer, photographer, Chelsea Football Club fan, and golden ratio enthusiast. Trent is a founder Umber Design wants to leave a lasting impact on his community.
                                </p>
                            </div>
                            <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                                <h2>Tommy Truong</h2>
                                <p>
                                    Front-end developer, business analyst, project manager, UI designer, and virtual reality storyteller. Tommy is a founder of Great Lakes Reality Labs and accumulated over half a decade of industry experience. He aims to create impactful, sustainable digital solutions for education.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>What is the Hello, Bennu! Project?</h2>
                    <p>
                        Hello, Bennu! is the work of Emily Curtis, Trent Herber, and Tommy Truong. Our goal was to build an application that was beautiful, fun & told an entertaining story about why scientists are watching an asteroid named Bennu. Our backgrounds are a mix of User Experience, Design, Computer Science & Audio Engineering. We put our heads together with agile project mapping, developing an app from scratch with all custom art assets & original music for our video.
                    </p>
                    <p>
                        Our process started with choosing our audience. As a team with a heavy UX background we decided that we wanted to use our app as a full-bodied introduction to Bennu for anyone coming from any background. We came together with all of our research and set forward to organize it in an understandable story. We sorted the content into manageable categories that summarize the key importance of why monitoring Bennu is important.
                    </p>
                    <p>
                        We ran into many challenges along the way, but as a team we were able to work rapidly to solve these problems. From not being sure we were going to participate, to losing team members, to getting a late start - we have pushed forward to the end and we are proud to have participated in this challenge together. We hope that this app inspires people of any age to learn more about space and become interested in the world around them.
                    </p>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <a mat-button href="https://github.com/Tommicchi/hello-bennu" matTooltip="Checkout our project repo!" aria-label="Click to go to GitHub repository.">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <h1>About NASA SpaceApps Challenge 2018</h1>
                    <p>
                        Space Apps is an international hackathon that occurs over 48 hours in cities around the world. Coders, scientists, designers, storytellers, makers, builders, technologists, and everyone enthusiastic about curiosity come together to address challenges we face on Earth and in space!
                    </p>
                    <p>
                        To learn more about SpaceApps, please go to <a href="https://2018.spaceappschallenge.org">https://2018.spaceappschallenge.org</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>