<div id="about-bennu-jets">
        <div class="about-bennu-jets-content" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="90" class="small-section" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="32px">
                <h1>About Bennu and the Jets</h1>
                
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" src="./assets/images/bennu-and-the-jets.JPG" alt="Bennu and the Jets">
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
                        <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                            <h2>Emily Curtis</h2>
                            <p>
                                Computer scientist, UX/UI unicorn, graphic designer, photographer, and local business lover. Emily is a founder Umber Design and accumulated over 7 years of hands-on experience. She's looking to help businesses refine and grow their brand.
                            </p>
                        </div>
                        <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                            <h2>Trent Herber</h2>
                            <p>
                                Graphic designer, music producer, photographer, Chelsea Football Club fan, and golden ratio enthusiast. Trent is a founder Umber Design wants to leave a lasting impact on his community.
                            </p>
                        </div>
                        <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                            <h2>Tommy Truong</h2>
                            <p>
                                Front-end developer, business analyst, project manager, UI designer, and virtual reality storyteller. Tommy is a founder of Great Lakes Reality Labs and accumulated over half a decade of industry experience. He aims to create impactful, sustainable digital solutions for education.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>