<div id="knowledge">
    <div class="knowledge-content" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="64px">
            <div class="part-1 small-section" fxLayout="row" fxLayoutGap="64px">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="64px">
                    <div fxFlex="90" fxLayout="column" fxLayoutGap="64px">
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px">
                            <div fxFlex="50" fxFlex.xs="100" data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                                <h2>Observe from the Skies</h2>
                                <p>
                                    Bennu was initially discovered by the Lincoln Near-Earth Asteroid Research (LINEAR) Observatory, but now observations are done exclusively by the Goldstone Deep Space Network, and the Arecibo Observatory.
                                </p>
                            </div>
                            <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill>
                                <img class="osiris-rex" src="./assets/images/OsirusRexPoly.svg" alt="OSIRIS-REx">
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="64px">
                            <div>
                                <span class="mapcam">
                                    <img src="./assets/images/Mapcam.svg" alt="MapCam">
                                    <p>MapCam</p>
                                </span>
                            </div>
                            <div>
                                <span class="polycam">
                                    <img src="./assets/images/Polycam.svg" alt="PolyCam">
                                    <p>PolyCam</p>
                                </span>
                            </div>
                            <div>
                                <span class="samcam">
                                    <img src="./assets/images/Samcam.svg" alt="SamCam">
                                    <p>SamCam</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="part-2 small-section" fxLayout="row">
                <div fxLayout="column">
                    <div fxFlex fxLayout="column" fxLayoutGap="64px">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div class="text" fxFlex="90">
                                <div fxFlex="50" fxHide.xs></div>
                                <div fxFlex="50" fxFlex.xs="100" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                                    <h2>Observe from the Ground</h2>
                                    <p>
                                        Bennu was initially discovered by the Lincoln Near-Earth Asteroid Research (LINEAR) Observatory, but now observations are done exclusively by the Goldstone Deep Space Network, and the Arecibo Observatory.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center start" fxFill>
                            <img class="observatories" src="./assets/images/Observatories.svg" alt="Observatories">
                            <img class="hedgehog" src="./assets/images/Hedgehog.svg" alt="Hedgehog">
                            <div class="overlay-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="part-3 small-section" fxLayout="row" fxLayoutGap="64px">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="64px">
                    <div fxFlex="90" fxLayout="column">
                        <div  fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px">
                            <div data-aos="fade-right" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                                <h2>Innovate</h2>
                                <p>
                                    NASA and other organizations around the world are working together to innovate new tools to continue studying Bennu and prevent potential collision with Earth.
                                </p>
                                <p>
                                    The Hypervelocity Asteroid Mitigation Mission for Emergency Response (HAMMER) is a spacecraft acting as an impactor would collide with the asteroid to gently nudge it off course, so it doesn’t hit the planet. If there’s not enough time for that, HAMMER’s other option is to detonate a nuclear weapon in order to destroy or deflect the object. 
                                </p>
                                <p>
                                    A gravity tractor is device that would fly alongside Bennu for a long period of time (years to decades) and slowly pull it out of Earth’s path. Gravity tractors would be most likely to work on any shape or composition of approaching asteroid, even if it were just a pile of rubble. Gravity tractors offer the greatest control and could perhaps even divert an approaching asteroid to other locations in space where people could theoretically use them for research or commercial purposes.
                                </p>
                            </div>
                            <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayout.sm="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="64px">
                                <span>
                                    <img class="hammer" src="./assets/images/Hammer.svg" alt="HAMMER">
                                </span>
                                <span>
                                    <img class="tesla" src="./assets/images/TeslaRoadster.svg" alt="Tesla Roadster">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        

<!-- <div id="knowledge">
    <div class="knowledge-content" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="64px">
            <div class="part-1 horizontal-sections small-section" fxLayout="row" fxLayoutGap="64px">
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h2>Observe from the Ground</h2>
                            <p>
                                Bennu was initially discovered by the Lincoln Near-Earth Asteroid Research (LINEAR) Observatory, but now observations are done exclusively by the Goldstone Deep Space Network, and the Arecibo Observatory.
                            </p>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>LINEAR</h3>
                            <p>
                                The LINEAR project is a collaboration of the United States Air Force, NASA, and the MIT's Lincoln Laboratory for the systematic detection and tracking of near-Earth objects. LINEAR was responsible for the majority of asteroid discoveries from 1998, including Bennu in 1999. The project began operating a near-Earth object discovery facility in 1996 using a 1.0 meter aperture telescope designed for the Air Force Space Command's Ground-based Electro-Optical Deep Space Surveillance (GEODSS).
                            </p>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>Arecibo Observatory Planetary Radar</h3>
                            <p>
                                The Arecibo Observatory Planetary Radar studies the celestial bodies in our solar system: planets, moons, asteroids and comets. Directed by the 1000 foot reflector, a powerful beam of radio energy is transmitted in the direction of the target object. A very small portion of this energy is reflected by the target, back in the direction of Earth. This weak radio echo is collected, focused and detected by the Arecibo Telescope.
                            </p>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxLayout="column">
                        <div fxLayout="row">
                            <div fxFlex="50" fxFlex.xs="100"></div>
                            <div fxFlex="50" fxFlex.xs="100" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                                <h3>Goldstone</h3>
                                <p>
                                    Goldstone is one of three complexes around the world known as the Deep Space Network (DSN) established to provide the ability to communicate with spacecraft; not only in orbit around the earth, but also in the farther reaches of our solar system. The Deep Space Network complexes, placed 120° apart, provide constant communication with spacecraft as the Earth rotates.In determining the exact position for the site in California, a remote location, free from radio signal interference, was needed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="part-2 horizontal-sections small-section" fxLayout="row" fxLayoutGap="64px">
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                        <div data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h2>Observe from the Stars</h2>
                            <p>
                                The OSIRIS-REx spacecraft is traveling to Bennu to determine Bennu’s physical and chemical properties. OSIRIS-REx contains five instruments to explore Bennu, each of which provides important information for the mission. This suite of instruments is used for remote sensing or scanning the surface of the asteroid. These will map Bennu and establish what makes up the asteroid, including the distribution of elements, minerals and organic material.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                        <div data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>OCAMS</h3>
                            <p>
                                The OSIRIS-REx Camera Suite (OCAMS) consists of three cameras: PolyCam, MapCam, and SamCam. These cameras will “see” asteroid Bennu as the spacecraft first approaches it. OCAMS will then provide global image mapping of Bennu’s surface and more detailed images of potential sample sites. Finally, OCAMS will record the entire sampling event during the touch-and-go (TAG) maneuver.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                        <div data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>OLA</h3>
                            <p>
                                The OSIRIS-REx Laser Altimeter (OLA) is a scanning LIDAR (Light Detection and Ranging). LIDAR is similar to RADAR, but it uses light instead of radio waves to measure distance. OLA will emit laser pulses at the surface of Bennu, which will reflect back from the surface and return a portion of the laser pulse to the LIDAR detector.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                        <div data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>OTES</h3>
                            <p>
                                The OSIRIS-REx Thermal Emission Spectrometer (OTES) provides mineral and temperature information by collecting infrared (from 5.71–100 μ m) spectral data from Bennu. In the infrared, most minerals have unique spectral signatures that are like fingerprints.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                        <div data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>OVIRS</h3>
                            <p>
                                The OSIRIS-REx Visible and Infrared Spectrometer (OVIRS) measures visible and infrared light from Bennu. OVIRS will provide spectral maps that identify mineral and organic material globally and of candidate sample sites. It will also gather local spectral information of candidate sample sites.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                        <div data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>REXIS</h3>
                            <p>
                                The student experiment Regolith X-ray Imaging Spectrometer (REXIS) will determine which elements are present, and how abundant they are, on the surface of Bennu. This capability will complement the onboard mineral mapping provided by OVIRS and OTES. REXIS takes advantage of the fact that solar X-rays and the solar wind interact with the regolith on Bennu’s surface.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                        <div data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>TAGSAM</h3>
                            <p>
                                The Touch-And-Go Sample Acquisition Mechanism (TAGSAM) is an elegantly simple sampler head with an articulated arm. Once the sampler head makes contact with the surface of Bennu, a burst of pure nitrogen gas will push surface regolith into the sampler’s chamber. Surface contact pads on the exterior of TAGSAM will also collect fine-grained material as the sample collector touches down on the asteroid.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="part-3 horizontal-sections small-section" fxLayout="row" fxLayoutGap="64px">
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div data-aos="fade-left" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h2>Innovate</h2>
                            <p>
                                NASA and other organizations around the world are working together to innovate new tools to continue studying Bennu and prevent potential collision with Earth.
                            </p>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div data-aos="fade-left" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>HAMMER</h3>
                            <p>
                                The Hypervelocity Asteroid Mitigation Mission for Emergency Response (HAMMER) is a spacecraft acting as an impactor would collide with the asteroid to gently nudge it off course, so it doesn’t hit the planet. If there’s not enough time for that, HAMMER’s other option is to detonate a nuclear weapon in order to destroy or deflect the object. 
                            </p>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div data-aos="fade-left" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>Gravity Tractor</h3>
                            <p>
                                A gravity tractor is device that would fly alongside Bennu for a long period of time (years to decades) and slowly pull it out of Earth’s path. Gravity tractors would be most likely to work on any shape or composition of approaching asteroid, even if it were just a pile of rubble. Gravity tractors offer the greatest control and could perhaps even divert an approaching asteroid to other locations in space where people could theoretically use them for research or commercial purposes.
                            </p>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                    </div>
                </div>
                <div class="horizontal-section" fxLayout="column" fxLayoutGap="64px">
                    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                        <div data-aos="fade-left" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                            <h3>Hedgehogs</h3>
                            <p>
                                Hedgehogs are a new concept for a robot that is specifically designed to overcome the challenges of traversing small bodies. The basic concept is a cube with spikes that moves by spinning and braking internal flywheels. The spikes protect the robot's body from the terrain and act as feet while hopping and tumbling.
                            </p>
                        </div>
                        <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     -->

     