<div id="knowledge">
    <div class="knowledge-content" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="64px">
            <div class="part-1 small-section" fxLayout="row" fxLayoutGap="64px">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="64px">
                    <div fxFlex="90" fxLayout="column">
                        <div  fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px">
                            <div data-aos="fade-right" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                                <h2>Innovate</h2>
                                <p>
                                    NASA and other organizations around the world are working together to innovate new tools to continue studying Bennu and prevent potential collision with Earth.
                                </p>
                                <p>
                                    The Hypervelocity Asteroid Mitigation Mission for Emergency Response (HAMMER) is a spacecraft acting as an impactor would collide with the asteroid to gently nudge it off course, so it doesn’t hit the planet. If there’s not enough time for that, HAMMER’s other option is to detonate a nuclear weapon in order to destroy or deflect the object. 
                                </p>
                                <p>
                                    A gravity tractor is device that would fly alongside Bennu for a long period of time (years to decades) and slowly pull it out of Earth’s path. Gravity tractors would be most likely to work on any shape or composition of approaching asteroid, even if it were just a pile of rubble. Gravity tractors offer the greatest control and could perhaps even divert an approaching asteroid to other locations in space where people could theoretically use them for research or commercial purposes.
                                </p>
                            </div>
                            <div fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayout.sm="row" fxLayout.xs="row" fxLayoutAlign="center center" fxLayoutGap="64px">
                                <span>
                                    <img class="hammer" src="./assets/images/Hammer.svg" alt="HAMMER">
                                </span>
                                <span>
                                    <img class="tesla" src="./assets/images/TeslaRoadster.svg" alt="Tesla Roadster">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="part-2 small-section" fxLayout="row" fxLayoutGap="64px">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="64px">
                    <div fxFlex="90" fxLayout="column" fxLayoutGap="64px">
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px">
                            <div fxFlex="50" fxFlex.xs="100" data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                                <h2>Observe from the Skies</h2>
                                <p>
                                    The OSIRIS-REx spacecraft is traveling to Bennu to determine Bennu’s physical and chemical properties. OSIRIS-REx contains five instruments to explore Bennu, each of which provides important information for the mission. This suite of instruments is used for remote sensing or scanning the surface of the asteroid. These will map Bennu and establish what makes up the asteroid, including the distribution of elements, minerals and organic material.
                                </p>
                            </div>
                            <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center start" fxFill>
                                <img class="osiris-rex" src="./assets/images/OsirusRexPoly.svg" alt="OSIRIS-REx">
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="64px">
                            <div>
                                <span class="mapcam">
                                    <img src="./assets/images/Mapcam.svg" alt="MapCam">
                                    <p>MapCam</p>
                                </span>
                            </div>
                            <div>
                                <span class="polycam">
                                    <img src="./assets/images/Polycam.svg" alt="PolyCam">
                                    <p>PolyCam</p>
                                </span>
                            </div>
                            <div>
                                <span class="samcam">
                                    <img src="./assets/images/Samcam.svg" alt="SamCam">
                                    <p>SamCam</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="part-3 small-section" fxLayout="row">
                <div fxLayout="column">
                    <div fxFlex fxLayout="column" fxLayoutGap="64px">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div class="text" fxFlex="90">
                                <div fxFlex="50" fxHide.xs></div>
                                <div fxFlex="50" fxFlex.xs="100" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center start" fxLayoutGap="16px">
                                    <h2>Observe from the Ground</h2>
                                    <p>
                                        Bennu was initially discovered by the Lincoln Near-Earth Asteroid Research (LINEAR) Observatory, but now observations are done exclusively by the Goldstone Deep Space Network, and the Arecibo Observatory.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center start" fxFill>
                            <img class="observatories" src="./assets/images/Observatories.svg" alt="Observatories">
                            <img class="hedgehog" src="./assets/images/Hedgehog.svg" alt="Hedgehog">
                            <div class="overlay-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     