<div id="about">
    <div class="about-content" fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="90" fxLayout="column">
            <div class="row">
                <div fxFlex="50" fxHide.xs></div>
                <div fxFlex fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutGap="16px">
                    <h1>What is Bennu?</h1>
                    <p>
                        101955 Bennu is a carbonaceous asteroid that measures a mean diameter of approximately 492 meters and travelling approximately 101,388.67 kilometers per hour through space.
                    </p>
                    <p>
                        Comprised of large amounts of carbon-based materials originating from dying stars such as red giants and supernovae, Bennu could contain a wide assortment of different rocks, minerals, precious metals, and potentially water.
                    </p>
                </div>
                <div fxFlex="5" fxHide.xs></div>
            </div>
        </div>
    </div>
</div>