<div id="about">
    <div class="about-content" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.xs="94px">
            <div class="small-section" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center">
                <div data-aos="fade-right" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center center" fxFill>
                    <img class="carbon-atom" src="./assets/images/Carbon.svg" alt="Carbon atom">
                </div>
                <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutGap="16px">
                    <h1>What is Bennu?</h1>
                    <p>
                        101955 Bennu is a carbonaceous asteroid that measures a mean diameter of approximately 492 meters and travelling approximately 101,388.67 kilometers per hour through space.
                    </p>
                    <p>
                        Comprised of large amounts of carbon-based materials originating from dying stars such as red giants and supernovae, Bennu could contain a wide assortment of different rocks, minerals, precious metals, and potentially water.
                    </p>
                </div>
            </div>

            <div class="small-section" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="64px">
                <div data-aos="fade-right" data-aos-delay="250" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutGap="16px">
                    <h1>Where is Bennu going?</h1>
                    <p>
                        At the time of its discovery on September 11, 1999, Bennu was about 2.2 million kilometers from the Earth. Bennu passes in close proximity to Earth approximately once every six years.
                    </p>
                    <p>
                        In 2010, dynamical study by Andrea Milani and collaborators predicted a series of eight potential Earth impacts by Bennu between 2169 and 2199. With a 1-in-2,700 chance of impacting Earth, Bennu is considered a potentially hazardous asteroid (PHA).
                    </p>
                </div>
                <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center center" fxFill>
                    <img class="bennu-orbital" src="./assets/images/OrbitalPath.svg" alt="Bennu orbital path">
                </div>
            </div>
        </div>
    </div>
</div>