<div id="references">
        <div class="references-content" fxLayout="row" fxLayoutAlign="center center">
            <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" fxFlex="90" class="small-section" fxLayout="column" fxLayoutAlign="center center">
                <h1>References</h1>
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/101955_Bennu">https://en.wikipedia.org/wiki/101955_Bennu</a></li>
                    <li><a href="https://www.nasa.gov/subject/6880/bennu/">https://www.nasa.gov/subject/6880/bennu/</a></li>
                    <li><a href="https://www.youtube.com/watch?v=WjsXYplcQlc">https://www.youtube.com/watch?v=WjsXYplcQlc</a></li>
                    <li><a href="https://www.youtube.com/watch?v=gtUgarROs08">https://www.youtube.com/watch?v=gtUgarROs08</a></li>
                    <li><a href="https://www.express.co.uk/news/science/933051/asteroid-bennu-path-asteroid-2135-where-is-when-will-hit-earth-nasa-warning">https://www.express.co.uk/news/science/933051/asteroid-bennu-path-asteroid-2135-where-is-when-will-hit-earth-nasa-warning</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Lincoln_Near-Earth_Asteroid_Research">https://en.wikipedia.org/wiki/Lincoln_Near-Earth_Asteroid_Research</a></li>
                    <li><a href="http://www.naic.edu/ao/scientist-user-portal/planetary-science">http://www.naic.edu/ao/scientist-user-portal/planetary-sciences</a></li>
                    <li><a href="https://www.gdscc.nasa.gov/">https://www.gdscc.nasa.gov/</a></li>
                    <li><a href="https://www.asteroidmission.org/objectives/">https://www.asteroidmission.org/objectives/</a></li>
                    <li><a href="https://www.asteroidmission.org/objectives/instruments/">https://www.asteroidmission.org/objectives/instruments/</a></li>
                    <li><a href="https://www.space.com/33616-asteroid-bennu-will-not-destroy-earth.html">https://www.space.com/33616-asteroid-bennu-will-not-destroy-earth.html</a></li>
                    <li><a href="https://www.nasa.gov/content/asteroid-grand-challenge/mitigate/gravity-tractor">https://www.nasa.gov/content/asteroid-grand-challenge/mitigate/gravity-tractor</a></li>
                    <li><a href="https://www.extremetech.com/extreme/265350-nasa-designs-hammer-spacecraft-deflect-nuke-dangerous-asteroids">https://www.extremetech.com/extreme/265350-nasa-designs-hammer-spacecraft-deflect-nuke-dangerous-asteroids</a></li>
                    <li><a href="https://www.nasa.gov/feature/jpl/hedgehog-robots-hop-tumble-in-microgravity">https://www.nasa.gov/feature/jpl/hedgehog-robots-hop-tumble-in-microgravity</a></li>
                    <li><a href="https://solarsystem.nasa.gov/news/517/why-bennu-10-reasons/">https://solarsystem.nasa.gov/news/517/why-bennu-10-reasons/</a></li>
                </ul>
            </div>
        </div>
    </div>