<div id="story" fxLayout="column" fxFill>
    <story-introduction></story-introduction>

    <div class="bennu-intro" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90" fxLayoutAlign="center center">
            <img src="./assets/images/Bennu.svg" alt="Bennu">
        </div>
    </div>

    <story-about></story-about>
    <story-risk-to-earth></story-risk-to-earth>
    <story-survival></story-survival>
    <story-knowledge-journey></story-knowledge-journey>
    <story-references></story-references>
    <story-about-bennu-jets></story-about-bennu-jets>

    <div class="bennu-outro" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90" fxLayoutAlign="center center">
            <img src="./assets/images/Bennu.svg" alt="Bennu">
        </div>
    </div>
    <div class="overlay-bottom"></div>
</div>