@import 'animations';

#story {
    overflow: hidden;
    position: relative;
}

.small-section {
    min-height: 75vh;
}

.medium-section {
    min-height: 100vh;
}

.large-section {
    min-height: 110vh;
}

.horizontal-sections {
    overflow-x: scroll;
    
    .horizontal-section {
        min-width: 100%;
    }
}

@media (max-width: 859px) {
    .horizontal-sections {
        
        .horizontal-section {
            max-width: 10vw;
        }
    }
}

.bennu-intro {
    position: relative;
    z-index: 0;

    img {
        -webkit-animation: IntroBennuDesktop 3s ease-in-out infinite;
        animation: IntroBennuDesktop 3s ease-in-out infinite;
        height: auto;
        position: absolute;
        width: 60%;
    }
}

.bennu-outro {
    margin-top: 25%;

    img {
        -webkit-animation: IntroBennuDesktop 3s ease-in-out infinite;
        animation: IntroBennuDesktop 3s ease-in-out infinite;
        height: auto;
        margin-bottom: -15%;
        position: absolute;
        width: 60%;
        z-index: 0;
    }
}

@media (max-width: 859px) {
    .bennu-outro {
        margin-top: 35%;

        img {
            margin-bottom: 25%;
        }
    }
}

// Introduction Section
body:before {
    background-image: url('./assets/images/Stars.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 150%;
    content: '';
    height: 100%;
    opacity: .5;
    position: fixed;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 100%;
}

#intro {
    .intro-content {
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 96%);
        position: relative;
        min-height: 100vh;
        text-align: center;
        z-index: 1;

        h1 {
            font-size: 300%;
            font-weight: 300;
            margin-top: 0;
        }
    }
}

@media (max-width: 859px) {
    #intro {
        .intro-content {
            background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 99.99%) !important;
        }
    }

    .bennu-intro {
        img {
            -webkit-animation: IntroBennuMobile 3s ease-in-out infinite;
            animation: IntroBennuMobile 3s ease-in-out infinite;
            width: 90%;
        }
    }

    #about {
        .about-content {
            background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 96%, #000000 100%) !important;
        }
    }
}

#about {
    .about-content {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 80%, #000000 100%);
        min-height: 100vh;
        padding-top: 10%;
        position: relative;
        z-index: 1;

        .carbon-atom {
            height: auto;
            width: 50%;
        }

        .bennu-orbital {
            -webkit-animation: Rotate 250s linear infinite;
            animation: Rotate 250s linear infinite;
            height: auto;
            width: 100%;
        }
    }
}

#risk {
    margin-top: 45vh;

    .risk-content {
        min-height: 100vh;
        position: relative;
        z-index: 1;
        
        .part-1 {
            .bennu {
                height: auto;
                position: absolute;
                width: 2.5%;
            }
    
            .earth {
                -webkit-animation: Rotate 100s linear infinite;
                animation: Rotate 100s linear infinite;
                height: auto;
                right: -15%;
                position: absolute;
                top: 10%;
                width: 50%;
            }

            @media (max-width: 859px) {
                .bennu {
                    height: auto;
                    position: absolute;
                    width: 5%;
                }
    
                .earth {
                    margin-top: 50%;
                    right: -25%;
                    top: 60vh;
                    width: 75%;
                }
            }
        }

        .part-2 {
            margin-top: 8vh;

            .earth-hit {
                height: auto;
                width: 100%;
            }
        }

        .part-3 {
            margin-top: 4vh;

            .city {
                height: auto;
                width: 100%;
            }
        }
    }
}

@media (max-height: 799px) {
    #risk {
        .part-1 {
            margin-top: 15%;
        }

        .part-2 {
            margin-top: 15%;
        }
    }
}

@media (max-width: 859px) {
    #risk {
        margin-top: 94px;

        .part-2 {
            margin-top: 64px;

            .earth-hit {
                margin-top: -128px;
            }
        }

        .part-3 {
            margin-top: 64px;

            .city {
                margin-bottom: -64px;
            }
        }
    }
}

#survival {
    margin-top: 25%;
    min-height: 100vh;
    position: relative;
    z-index: 1;

    .survival-content {

        .bennu {
            -webkit-animation: Rotate 30s linear infinite;
            animation: Rotate 30s linear infinite;
            height: auto;
            margin-top: -10%;
            position: absolute;
            top: 12%;
            width: 25%;
        }

        .asteroids {
            -webkit-animation: Bounce 10s linear infinite;
            animation: Bounce 10s linear infinite;
            height: auto;
            margin-left: 5%;
            position: absolute;
            width: 25%;
        }

        @media (max-width: 859px) {
            .bennu {
                margin-top: initial;
                top: 75%;
                width: 50%;
            }

            .asteroids {
                margin-top: 140%;
                width: 50%;
            }
        }
    }
}

#knowledge {
    margin-top: -25vh;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    
    .knowledge-content {
        img {
            height: auto;
            width: 100%;
        }

        .part-1 {
            padding-top: 25%;
            margin-top: -64px;

            .hammer {
                height: 255px;
                margin-right: 10vw;
                width: auto;
            }

            .tesla {
                height: auto;
                margin-left: 25vw;
                width: 94px;
            }
        }

        .part-2 {
            margin-top: 25%;
            position: relative;

            .osiris-rex {
                -webkit-animation: Bounce 10s linear infinite;
                animation: Bounce 10s linear infinite;
                height: auto;
                position: absolute;
                text-align: center;
                width: 25%;
            }

            .mapcam {
                -webkit-animation: Bounce 9s linear infinite;
                animation: Bounce 9s linear infinite;
                height: auto;
                margin-top: 35%;
                position: absolute;
                text-align: center;
                width: 10%;
            }

            .polycam {
                -webkit-animation: Bounce 11s linear infinite;
                animation: Bounce 11s linear infinite;
                height: auto;
                margin-top: 35%;
                position: absolute;
                text-align: center;
                width: 10%;
            }

            .samcam {
                -webkit-animation: Bounce 8s linear infinite;
                animation: Bounce 8s linear infinite;
                height: auto;
                margin-top: 35%;
                position: absolute;
                width: 10%;
            }
        }

        .part-3 {
            margin-top: 75%;
            position: relative;

            .text {
                margin-bottom: 25%;
            }

            .observatories {
                margin-top: 25vh;
                bottom: 0;
                position: absolute;
            }

            .hedgehog {
                bottom: 18vh;
                height: auto;
                left: 0;
                position: absolute;
                width: 5%;
            }
        }

        @media (max-height: 799px) {
            .part-2 {
                margin-top: 10%;

                .mapcam {
                    margin-top: 25%;
                }
    
                .polycam {
                    margin-top: 25%;
                }
    
                .samcam {
                    margin-top: 25%;
                }
            }

            .part-3 {
                margin-top: 60%;

                .text {
                    margin-bottom: 45%;
                }
            }
        }

        @media (max-width: 859px) {
            .part-1 {
                margin-top: -75%;

                .hammer {
                    margin-right: 12px;
                }
    
                .tesla {
                    margin-left: 12px;
                }
            }

            .part-2 {
                margin-top: 50%;

                .osiris-rex {
                    margin-left: 10%;
                    margin-top: -45%;
                }

                .mapcam {
                    margin-left: -10%;
                    margin-top: 90%;
                }
    
                .polycam {
                    margin-left: -10%;
                    margin-top: 90%;
                }
    
                .samcam {
                    margin-left: -10%;
                    margin-top: 90%;
                }
            }

            .part-3 {
                margin-top: 50%;

                .text {
                    margin-bottom: 20%;
                }

                .overlay-bottom {
                    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 99.99%) !important;
                    bottom: -1px;
                }
            }
        }
    }
}

@media (max-width: 859px) {
    #knowledge {
        margin-top: 45vh;
    }
}

#references {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 80%, #000000 100%);
    padding-top: 10%;

    ul {
        max-width: 90vw;
    }
}

#about-bennu-jets {
    padding: 10% 0;
    position: relative;

    img {
        border-radius: 8px;
        height: auto;
        width: 100%;
        z-index: 0;
    }

    .mat-button {
        font-size: 48px;
    }
}

.overlay-bottom {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 96%);
    bottom: 0;
    height: 25vh;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
}
