
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$hello-bennu-secondary: (
	50 : #e0f9fb,
    100 : #b3eff4,
    200 : #80e4ed,
    300 : #4dd9e6,
    400 : #26d1e0,
    500 : #00c9db,
    600 : #00c3d7,
    700 : #00bcd2,
    800 : #00b5cd,
    900 : #00a9c4,
    A100 : #ecfcff,
    A200 : #b9f4ff,
    A400 : #86ecff,
    A700 : #6de8ff,
	contrast: (
		50 : $black-87-opacity,
		100 : $black-87-opacity,
		200 : $black-87-opacity,
		300 : $black-87-opacity,
		400 : $black-87-opacity,
		500 : $black-87-opacity,
		600 : $black-87-opacity,
		700 : white,
		800 : white,
		900 : white,
		A100 : $black-87-opacity,
		A200 : $black-87-opacity,
		A400 : $black-87-opacity,
		A700 : $black-87-opacity,
	)
);

$hello-bennu-primary: (
	50 : #eae1f5,
    100 : #ccb3e5,
    200 : #aa80d4,
    300 : #874dc2,
    400 : #6e27b5,
    500 : #5401a8,
    600 : #4d01a0,
    700 : #430197,
    800 : #3a018d,
    900 : #29007d,
    A100 : #bfaaff,
    A200 : #9877ff,
    A400 : #7244ff,
    A700 : #5f2aff,
	contrast: (
		50 : $black-87-opacity,
		100 : $black-87-opacity,
		200 : $black-87-opacity,
		300 : white,
		400 : white,
		500 : white,
		600 : white,
		700 : white,
		800 : white,
		900 : white,
		A100 : $black-87-opacity,
		A200 : white,
		A400 : white,
		A700 : white,
	)
);

$hello-bennu-accent: (
	50 : #fef6ec,
    100 : #fbe8cf,
    200 : #f9d9af,
    300 : #f7ca8f,
    400 : #f5be77,
    500 : #f3b35f,
    600 : #f1ac57,
    700 : #efa34d,
    800 : #ed9a43,
    900 : #ea8b32,
    A100 : #ffffff,
    A200 : #fffdfc,
    A400 : #ffe2c9,
    A700 : #ffd4af,
	contrast: (
		50 : $black-87-opacity,
		100 : $black-87-opacity,
		200 : $black-87-opacity,
		300 : $black-87-opacity,
		400 : $black-87-opacity,
		500 : $black-87-opacity,
		600 : $black-87-opacity,
		700 : $black-87-opacity,
		800 : $black-87-opacity,
		900 : $black-87-opacity,
		A100 : $black-87-opacity,
		A200 : $black-87-opacity,
		A400 : $black-87-opacity,
		A700 : $black-87-opacity,
	)
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hello-bennu-primary: mat-palette($mat-indigo);
$hello-bennu-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hello-bennu-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$hello-bennu-theme: mat-light-theme($hello-bennu-primary, $hello-bennu-accent, $hello-bennu-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hello-bennu-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'bennu-theme';
